# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/
ENV/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.pid

# Node
node_modules/

#SSH Keys
*.pem
